{% extends "/layouts/base.twig" %}

{% block style %}
  <link rel="stylesheet" href="/assets/css/addComputer.css">
{% endblock %}

{% block main %}
<main>
  <section>
   
    <div>
     
      <form id="computerForm" action={{computer ? "/updateComputer/"~computer.id : "/addComputer"}} method="post">
       
       <div>
            <img id="trekitLogo" src="/assets/images/trekitWithoutText.png" alt="TrekIT logo">
       </div>
       
       <div id="formTitle">
            <h2>
            {% if computer %}
                Modification - Ordinateur
            {% else %}
                Inscription - Ordinateur
            {% endif %}
          </h2>
        </div>
        <div class="computerFormInput">
          <label for="computerTitle">Ordinateur</label>
          <input type="text" name="computerTitle" id="computerTitle" value="{{ computer.computerTitle | default('') }}" required>
          {% if error.computerTitle %}
            <p class="error">{{ error.computerTitle }}</p>
          {% endif %}
        </div>

         <div class="computerFormInput">
            <label for="addressMac">Adresse MAC</label>
            <input type="text" name="addressMac" id="addressMac" value="{{ computer.addressMac | default('') }}" required placeholder="00:00:5e:00:53:af" pattern="^(?:[0-9A-Fa-f]{2}[:-]){5}(?:[0-9A-Fa-f]{2})$">
            {% if error.addressMac %}
              <p class="error">{{ error.addressMac }}</p>
            {% endif %}
            {% if duplicateMAC %}
              <p class="error">{{ duplicateMAC }}</p>
            {% endif %}
        </div>

        <div class="computerFormInput">
          <label for="purchaseDate">Date d'achat</label>
          <input type="date" required name="purchaseDate" id="purchaseDate" value="{{ computer.purchaseDate| default('') }}">
        </div>

        <div>
          <label for="status">Statut</label>
          <select name="status" id="status">
              <option value="Assigné" {{ computer.status == 'Assigné' ? 'selected' : '' }}>Assigné</option>
              <option value="Réparation" {{ computer.status == 'Réparation' ? 'selected' : '' }}>Réparation</option>
              <option value="Disponible" {{ (computer.status is empty or computer.status == 'Disponible') ? 'selected' : '' }}>Disponible</option>
              <option value="Retiré" {{ computer.status == 'Retiré' ? 'selected' : '' }}>Retiré</option>  
          </select>
        </div>

        <div>
          <button type="submit" id="addComputerSubmit" name="addComputerSubmit">
              {% if computer %}
                    Mise à jour
                {% else %}
                    Register
                {% endif %}
            </button>
        </div>
      </form>
    </div>
  </section>
</main>
{% endblock %}