{% extends "/layouts/base.twig" %}

{% block style %}
  <link rel="stylesheet" href="/assets/css/addEmployee.css">
{% endblock %}

{% block main %}
<main>
  <section>
   
    <div>
   
      <form id="employeeForm" action= {{employee ? "/updateEmployee/"~employee.id : "/addEmployee"}} method="post">
       
       <div>
            <img id="trekitLogo" src="/assets/images/trekitWithoutText.png" alt="TrekIT logo">
       </div>
       
       <div id="formTitle">
          <h2>
            {% if employee %}
                Modification - Employé
            {% else %}
                Inscription - Employé
            {% endif %}
          </h2>
        </div>
        <div class="employeeFormInput">
          <label for="firstName">Prénom</label>
          <input type="text" name="firstName" id="firstName" value="{{ employee.firstName | default('') }}" required>
          {% if error.firstName %} 
            <p class="error">{{ error.firstName }}</p>
          {% endif %}
        </div>

         <div class="employeeFormInput">
          <label for="lastName">Nom</label>
          <input type="text" name="lastName" id="lastName" value="{{ employee.lastName | default('') }}" required>
          {% if error.lastName %}
            <p class="error">{{ error.lastName }}</p>
          {% endif %}
        </div>

       <div id="opt">
            <div class="employeeFormInput">
              <label for="dob">Date de Naissance</label>
              
              <input type="date" name="dob" id="dob" value="{{ employee.dob | default('') }}">
            </div>
              <div class="employeeFormInput">
                <label for="gender">Genre</label>
                <select name="gender" id="gender">
                  <option value="Homme" {{ employee.gender == 'Homme' ? 'selected' : '' }}>Homme</option>
                  <option value="Femme" {{ employee.gender == 'Femme' ? 'selected' : '' }}>Femme</option>
                  <option value="Autre" {{ (employee.gender is empty or employee.gender == 'Autre') ? 'selected' : '' }}>Autre</option>
                </select>
              </div>
         </div>
            <div class="employeeFormInput">
  <label for="password">Votre mot de passe</label>
  <input
    type="password"
    name="password"
    id="password"
    {% if not company %} required {% endif %}
    pattern="^(?=.*?[0-9])(?=.*?[A-Za-z]).{6,}$"
    placeholder="6+ caractères, 1 lettre, 1 chiffre"
    autocomplete="current-password"
  >
</div>

<div class="employeeFormInput">
  <label for="confirmPassword">Confirmez votre mot de passe</label>
  <input
    type="password"
    name="confirmPassword"
    id="confirmPassword"
    value="{{ confirmPassword | default('') }}"
    {% if not company %} required {% endif %}
  >
  {% if error.confirmPassword %}
    <p class="error">{{ error.confirmPassword }}</p>
  {% endif %}
</div>
        <div>
          <button type="submit" id="addEmployeeSubmit" name="addEmployeeSubmit">
               {% if employee %}
                Mise à jour
            {% else %}
                 Register
            {% endif %}
         </button>
        </div>
      </form>
    </div>
  </section>
</main>
{% endblock %}