{% extends "/layouts/base.twig" %}

{% block style %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="/assets/css/dashboard.css">
{% endblock %}

{% block main %}
<main>
{% set disponible = 0 %}
{% set assigne = 0 %}
{% set reparation = 0 %}
{% set retire = 0 %}

  <section>
   
    <div>
       
        <div>
            <h2>Bienvenue {{employee.firstName}} {{employee.lastName}} - {{employee.company.companyName}}</h2>
            <h2>{{ title }}</h2>
        </div>
        <div>
              <div id="wrapper">
                  <div id="employeeTable">
                    <table>
                      <tr>
                          <th>Ordinateur</th>
                          <th>MAC</th>
                          <th>Statut</th>
                          <th>Employé</th>
                      </tr>
                      <article>
                          <tr class="employeeLine">
                            {% if not employee.computer %}
                            <td colspan=100%><h2>Aucun ordinateur n'a été attribué.</h2></td>
                            {% else %}
                              <td>{{employee.computer.computerTitle}}</td>
                              <td>{{employee.computer.addressMac}}</td>
                              <td>{{employee.computer.status}}</td>
                              <td>{{employee.id}}</td>
                            {% endif %}
                          </tr>
                          </article>
                      </table>
                  </div>
                  {% if employee.computer %}
                  <button id="bigButtonlAlert" class="btnAlert">Signal panner</botton>
                  {% endif %}
                <div>
            </div>
    </div>
  </section>
  <section id="sectionAlert">
        <dialog id="addAlertDialog">
            <form action="/employReportedFaults" method="post" id="newAlertForm">
                <div id="addAlertFormDiv">

                <div class="formInput">
                    <label for="computerId">Ordinateur N°</label>
                    <input type="text" id="computerId" name="computerId" value={{employee.computer.id}} disabled>
                </div>
                <div class="formInput">
                    <label for="macAddress">Code d'identification de l'ordinateur<br>(adresse MAC)</label>
                    <input type="text" id="macAddress" name="macAddress" value={{employee.computer.addressMac}} disabled>
                </div>
                 <div class="formInput">
                 <label for="employeeId">Code d'identification de l'employé</label>
                    <input type="text" id="employeeId" name"employeeId" value={{employee.id}} disabled>
                 </div>   
                    <div>
                        <div class="formInput">
                        <label for="firstName">Prénom</label>
                        <input type="text" id="firstName" name="firstName" value={{employee.firstName}} disabled>
                        </div>
                        <div class="formInput">
                        <label for="lastName">Nom</label>
                           <input type="text" id="lastName" name="lastName" value={{employee.lastName}} disabled>
                        </div>
                    </div>
                    <div class="formInput">
                        <label for="faultDescription">Description du problème</label>
                        <input type="text" placeholder="Brève description du problème" id="faultDescription" name="faultDescription">
                    </div>

                    <div id="btns">
                        <div>
                            <button class="btnAlert btnForm" id="btnSendAlert" type="submit">Envoyer</button>
                        </div>
                        <div>
                            <button class="btnForm" type="button" id="btnCancel" value="cancel">Annuler</button>
                        </div>
                    </div>
            </form>
        </dialog>
    </section>
</main>
{% endblock %}