{% extends "/layouts/base.twig" %}

{% block style %}
  <link rel="stylesheet" href="/assets/css/companySubscribe.css">
{% endblock %}

{% block main %}
<main>
  <section>
   
    <div>
       
       <div>
            <h2>{{ title }} - {{company.companyName}}</h2>
        </div>
        <div>
          
          {% for employee in company.employees %}
            <article>
              <h3>Prenom :
                {{employee.firstName}}</h3>
              <p>Nom :
                {{employee.lastName}}</p>
              <p>Ordinateur :
                {{employee.computer.computerId}}</p>
              <a href="/updateEmployee/{{employee.id}}">Modifier</a>
              <a href="/removeEmployee/{{employee.id}}">Supprimer</a>
            </article>
          {% endfor %}
        </div>
    </div>
  </section>
</main>
{% endblock %}