{% extends "/layouts/base.twig" %}

{% block style %}
  <link rel="stylesheet" href="/assets/css/listEmployees.css">
{% endblock %}

{% block main %}
<main>
<div id="tables">
  <section>
   
    <div>
       
       <div>
            <h2>{{ title }} - {{company.companyName}}</h2>
        </div>
        {% set arrayOfUpComingControls = [] %} 
        <div id="employeeTable">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Ordinateur</th>
                    <th>MAC</th>
                    <th>Déclaré</th>
                    <th>Panne</th>
                    <th>Employé</th>
                    <th>Coût</th>
                    <th>Action</th>
                </tr>   
                 {% for computer in computers %}
                    {% for fault in computer.faults %}
                        <tr class="employeeLine">
                            <td>{{ computer.id }}</td>
                            <td>{{ computer.computerTitle }}</td>
                             <td>{{ computer.addressMac }}</td>
                            <td>{{ fault.faultStartDate|date("d/m/Y") }}</td>
                            <td>{{ fault.faultDescription }}</td>
                            <td>{{ fault.employeeId }}</td>
                            <td><input type="number" name="repairCost" id="repairCost" placeholder="1.0" step="0.01" min="0" max="10000"></td>
                            <td> 
                                <form method="post" action="/showCompanyFaults">
                                    <button class="btnForm" id="btnSolved" name="buttons" value="solved-{{ fault.id }}">
                                        Résolu
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if ('now'|date('Y') - computer.purchaseDate|date('Y')) is divisible by(2) and  computer.purchaseDate|date('Y') != 2025%}
                        {% set arrayOfUpComingControls = arrayOfUpComingControls|merge([computer]) %}
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
  </section>
  <section>
    <div>
        
        <div>
                <h2>Contrôle informatique à venir - {{company.companyName}}</h2>
            </div>
            
            <div id="employeeTable">
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Ordinateur</th>
                        <th>MAC</th>
                        <th>Acheté</th>
                        <th>Employé</th>
                    </tr>   
                    {% for computer in arrayOfUpComingControls %}
                            <tr class="employeeLine">
                                <td>{{ computer.id }}</td>
                                <td>{{ computer.computerTitle }}</td>
                                <td>{{ computer.addressMac }}</td>
                                <td>{{ computer.purchaseDate|date("d/m/Y") }}</td>
                                <td>{{ computer.employeeId }}</td>
                            </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
 </div>
</main>
{% endblock %}