{% extends "/layouts/base.twig" %}

{% block style %}
  <link rel="stylesheet" href="/assets/css/listEmployees.css">
{% endblock %}

{% block main %}
<main>
  <section>
   
    <div>
       
       <div>
            <h2>{{ title }} - {{company.companyName}}</h2>
        </div>

        <div id="employeeTable">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Ordinateur</th>
                    <th>MAC</th>
                    <th>Achat</th>
                    <th>Statut</th>
                    <th>Employé</th>
                    <th colspan="2">Actions</th>
                </tr>
                {% for computer in company.computers %}     
                 <article>
                    <tr class="employeeLine">
                        <td>{{computer.id}}</td>
                        <td>{{computer.computerTitle}}</td>
                        <td>{{computer.addressMac}}</td>
                        <td>{{computer.purchaseDate|date("d/m/Y")}}</td>
                        <td>{{computer.status}}</td>
                        <td>{{computer.employeeId}}</td>
                        <td> 
                            <form method="post" action="/computerList">
                              <button class="btnForm" id="btnDelete" name="buttons" value="delete-{{computer.id}}">
                                Delete
                              </button>
                              <button class="btnForm" id="btnModify" name="buttons" value="modify-{{computer.id}}">
                                Modify
                              </button>
                          </form>
                        </td>
                    </tr>
                    </article>
             {% endfor %}
            </table>
        </div>
    </div>
  </section>
</main>
{% endblock %}