{% extends "/layouts/base.twig" %}

{% block style %}
  <link rel="stylesheet" href="/assets/css/companySubscribe.css">
{% endblock %}

{% block main %}
<main>
  <section>
   
    <div>
       
       <div>
            <h2>{{ title }} - {{company.companyName}}</h2>
        </div>
        <div>
          {% for computer in company.computers %}
            <article>
              <h3>Computer :
                {{computer.computerTitle}}</h3>
              <p>Mac adresse :
                {{computer.addressMac}}</p>
                <p>Date d'achat :
                {{computer.purchaseDate|date("d/m/Y")}}</p>
                <p>Statut :
                {{computer.status}}</p>
                <p>Employé :
                {{computer.employeeId}}</p>
              <a href="/updateComputer/{{computer.id}}">Modifier</a>
              <a href="/removeComputer/{{computer.id}}">Supprimer</a>
            </article>
          {% endfor %}
        </div>
    </div>
  </section>
</main>
{% endblock %}