{% extends "/layouts/base.twig" %}

{% block style %}
   <link rel="stylesheet" href="/assets/css/listEmployees.css">
{% endblock %}

{% block main %}
<main>
  <section>
   
    <div. id="topDiv">
       
       <div>
            <h2>{{ title }} - {{company.companyName}}</h2>
        </div>
        <div id="employeeTable">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                   <!-- <th>DdN</th>
                    <th>Genre</th>-->
                    <th>Ordinateur</th>
                    <th colspan="2">Actions</th>
                </tr>
                {% for employee in company.employees %}    
                 <article>
                    <tr class="employeeLine">
                        <td>{{employee.id}}</td>
                        <td>{{employee.lastName}}</td>
                        <td>{{employee.firstName}}</td>
                        <td>{{employee.email}}</td>
                       <!-- <td>{{employee.dob|date("d/m/Y")}}</td>
                        <td>{{employee.gender}}</td>-->
                        <td>{{employee.computer.id}}</td>
                        <td> 
                            <form method="post" action="/employeeList">
                              <button class="btnForm" id="btnDelete" name="buttons" value="delete-{{employee.id}}">
                                Delete
                              </button>
                              <button class="btnForm" id="btnModify" name="buttons" value="modify-{{employee.id}}">
                                Modify
                              </button>
                          </form>
                        </td>
                    </tr>
                    </article>
             {% endfor %}
            </table>
        </div>
    </div>
  </section>
</main>
{% endblock %}