{% extends "/layouts/base.twig" %}

{% block style %}
  <link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}

{% block main %}
<main>
  <section>
   
    <div>
      <form id="loginForm" action="/login" method="post">
       
       <div id="logos">
        <div>
            <img id="trekitLogo" src="/assets/images/trekitWithText.png" alt="TrekIT logo">
        </div>
        <div>
            <a href="/employeeLogin"><img id="logoUser" src="/assets/images/userBlue.png" alt="User logo"></a>
        </div>
       </div>
       
       <div id="formTitle">
            <h2>{{ title }}</h2>
        </div>
        <div class="loginFormInput">
          <label for="siret">N° Siret</label>
          <input
            type="text"
            name="siret"
            id="siret"
            required
            pattern="\d{3}\s?\d{3}\s?\d{3}\s?\d{5}"
            placeholder="123 456 789 01234"
            value="{{ siret | default('') }}"
          >
          {% if error.siret %}
            <p class="error">{{ error.siret }}</p>
          {% endif %}
          {% if duplicateSiret %}
            <p class="error">{{ duplicateSiret }}</p>
          {% endif %}
        </div>
        <div class="loginFormInput">
          <label for="password">Mot de passe</label>
          <input
            type="password"
            name="password"
            id="password"
            required
            pattern="^(?=.*?[0-9])(?=.*?[A-Za-z]).{6,}$"
            placeholder="6+ caractères, 1 lettre, 1 chiffre"
            autocomplete="current-password"
          >
          {% if error.password %}
        <p class="error">{{ error.password }}</p>
      {% endif %}
        </div>
        <div>
          <button type="submit" id="loginSubmit" name="loginSubmit">Connectez-vous</button>
        </div>
        <div>
          <p id="connectP">Vous n'êtes pas inscrit, <a id="connectA" href="/companySubscribe"> inscrivez-vous</a></p>
        </div>
      </form>
    </div>
  </section>
</main>
{% endblock %}